.center{
    text-align: center;
}

#songs:hover, #history:hover{
    transition: all 0.75s ease-out;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5) ;
    border-radius: var(--bs-border-radius-lg) ;
}