@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:ital,wght@1,300&family=REM:wght@700&display=swap');
                

.center{
    text-align: center;
}

.fullwidth{
    width: 100% !important;
}

#preview{
    min-height: 85vh;
}

#songs, #history{
    transition: all 0.75s ease-out;
}

#songs:hover, #history:hover{
    transition: all 0.75s ease-out;
    box-shadow: 0 0 1rem #084e9f;
    border-radius: var(--bs-border-radius-lg);
}

.album-overlay-grid-item {
    border-radius: var(--bs-border-radius-lg) ;
    box-shadow: 0rem 0rem 1rem rgb(8 78 159);
}

#RicordiGrid{
    box-shadow: 0rem 0rem 1rem rgb(252 201 0);
}

#HeisenbergGrid{
    box-shadow: 0rem 0rem 1rem rgb(31 161 88);
}

#DjangoGrid{
    box-shadow: 0rem 0rem 1rem rgb(234 9 6);
}

#PurgatorioGrid{
    box-shadow: 0rem 0rem 1rem rgb(195 188 147);
}

.main-card-blur{
    backdrop-filter: brightness(0.25);
}

.p-0{
    padding: 0% !important;
}

.shape-fill {
    fill: #084e9f;
}

#divider-line {
    border: var(--bs-border-width) var(--bs-border-style) #084e9f !important;
    box-shadow: 0 0rem 2rem 8px rgb(8 78 159) !important;
}

h1, h2, h3, h4 {
    font-family: 'REM', sans-serif;
}


#title-main-page{
    font-family: 'Dancing Script', sans-serif;    
}


    @media screen and (min-width: 480px) {
        .text-overlay-main{
            width: 100% !important;
            font-size: small;
            margin-right: 0 !important;
            color: #ebebeb;
            border-radius: var(--bs-border-radius-lg);
        }

        body{
            text-align: center !important;
        }
   }
    @media screen and (min-width: 768px) {
        .text-overlay-main{
            width: 100% !important;
            font-size: medium;
            margin-right: 0 !important;
            color: #ebebeb;
            border-radius: var(--bs-border-radius-lg);
        }

        body{
            text-align: center !important;
        }
   }
    @media screen and (min-width: 1024px) {
        #title-main-page{
            font-size: xxx-large;
        }

        .text-overlay-main{
            width: 50% !important;
            font-size: large;
            margin-right: 0 !important;
            color: #ebebeb;
            border-radius: var(--bs-border-radius-lg);
        }

        body{
            text-align: var(--bs-body-text-align) !important;
        }
   }
    @media screen and (min-width: 1200px) {
        #title-main-page{
            font-size: xxx-large;
        }

        body{
            text-align: var(--bs-body-text-align) !important;
        }

        .text-overlay-main{
            width: 50% !important;
            font-size: x-large;
            margin-right: 0 !important;
            color: #ebebeb;
            border-radius: var(--bs-border-radius-lg);
        }
   }